.login{
    background-color: #2c2c2c;
    font-family: "Raleway";
    .login-form{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1200px;
        height: fit-content;
        margin: 0 auto;
        padding: 50px;
        .form{
            width: 500px;
            padding: 50px;
            margin-bottom: 30px;
            border-radius: 20px;
            color: white;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #00ff7771;
            .input-container{
                width: 77%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                label{
                    font-size: 1.2rem;
                    font-weight: normal;
                }
                input{
                    margin-left: 15px;
                    height: 30px;
                    width: 220px;
                    padding-left: 8px;
                    margin: 15px;
                    outline: none;
                    opacity: 0.7;
                    border-radius: 10px;
                    &:focus{
                        outline-color: #24ff00;
                        border-color: #24ff00;
                    }
                }
            }
            .btn{
                width: 150px;
                height: 50px;
                margin: 20px;
                text-align: center;
                color: white;
                font-family: "Raleway";
                font-weight: 600;
                font-size: 1.1rem;
                background-color: #2c2c2c;
                border: none;
                text-decoration: none;
                transition: 0.3s;
                border-radius: 10px;
                &:hover{
                    background-color: #ffffff;
                    color: #00ff75;
                    transform: scale(1.05);
                    cursor: pointer;
                    border-radius: 10px;
                }
            }
        }
        .create-account{
            text-decoration: none;
            color: white;
            font-weight: 600;
            border-bottom: 1px solid white;
            margin-top: 10px;
            transition: all 0.4s;
            &:hover{
                color: #2c2c2c;
                border-bottom: 1px solid #2c2c2c;
            }
        }
    }
}